 
div.Home {
    color: white;
    position: absolute;
    width: 400px;
    height: 700px;
    left: 200px;
    text-align: center;
    font-size: 40px;
    border:5px solid hsl(0, 0%, 100%);
}
div.Guest {
    color: white;
    position: absolute;
    width: 400px;
    height: 700px;
    left: 800px;
    text-align: center;
    font-size: 40px;
    border:5px solid hsl(0, 0%, 100%);
    }

body {
position: relative;
background: #172249;
}

div.score {
    background-color: black;
    margin-left: 75px;
    width: 250px;
    height: 250px;
    color: white;
    font-size: 90px;
    margin-bottom: 50px;
}

div.Main button {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
    margin: 10px;
}